* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

body {
    background-color: #222;
    color: #fff;
    margin: 0;
}

::-webkit-scrollbar{
    background: #222;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: yellow;
}